
*{
    box-sizing: border-box;
  }

  html{
    scroll-behavior: smooth;
  }
  
  body{
    font-family: 'Roboto', sans-serif;
  }
  
  h1{ font-size: 3.5em;
    font-family: map-get($estilos, fuente)}
  h2{ font-size: 2.7em;
    font-family: map-get($estilos, fuente)}
  h3{ font-size: 2em;
    font-family: map-get($estilos, fuente)}
  p{ font-size: 1.25em;
    font-family:map-get($estilos, fuente)}
  ul{ list-style: none;
    float:right;
  color: map-get($estilos, color)}

  
  .footer_texto{
    color:map-get($estilos, color);
  }
  .footer_logos{
  @extend .footer_texto;
  }

  .nav-link{
  @extend .footer_texto;
  }

  .nav-link a{
    padding: 0.31rem 0.75rem;
    text-decoration: none;
    color: map-get($estilos, color);
  }
.navbar-nav .nav-link:hover {
    color: $color-principal;
    border-bottom: 1.5px solid $color-principal;
    transition: border-bottom .15s;
    padding-bottom: 4px;
}

@media(max-width: 768px) {
  header{
    display:grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  @include center-items
  }
  
  .galeriaimg {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1 15rem) ;
    @include center-items
    }
  
    .foto{
      width: 35rem;
      height: 35rem;
  }
}