
*{
    box-sizing: border-box;
  }

  html{
    scroll-behavior: smooth;
  }
  
  body{
    font-family: 'Roboto', sans-serif;
  }
  
  h1{ font-size: 3.5em;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif}
  h2{ font-size: 2.7em;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif}
  h3{ font-size: 2em;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif}
  p{ font-size: 1.25em;
    font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif}
  ul{ list-style: none;
    float:right;
  color:white}

  
  .footer_texto{
    color:white;
  }
  .footer_logos{
  @extend .footer_texto;
  }

  .nav-link{
  @extend .footer_texto;
  }

  .nav-link a{
    padding: 0.31rem 0.75rem;
    text-decoration: none;
    color: white;
  }
.navbar-nav .nav-link:hover {
    color: $color-principal;
    border-bottom: 1.5px solid $color-principal;
    transition: border-bottom .15s;
    padding-bottom: 4px;
}

@media(max-width: 768px) {
  header{
    display:grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  @include center-items
  }
  
  .galeriaimg {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1 15rem) ;
    @include center-items
    }
  
    .foto{
      width: 35rem;
      height: 35rem;
  }
}